* {
    box-sizing: border-box;
  }
  
  .column {
    float:left;
    width: 25%;
    padding: 0.5% 7% 0.5% 7%;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 750px) {
    .column {
    flex: 50%;
    width: 50%
    }
}
    @media screen and (max-width: 600px) {
        .column {
        flex: 100%;
        width: 100%;
    }
}

